/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
    font-family: 'Kdam Thmor Pro', sans-serif !important;
    background-color: rgb(225, 237, 240);
}
.contact-img{
    width: 150px;
    border-radius: 50%;
}

.contact-img-big{
    width: 200px;
    border-radius: 50%;
}